.edit-quiz-container {
    margin: 20px;
}

.edit-quiz-table {
    width: 100%;
    border-collapse: collapse;
}

.edit-quiz-table th,
.edit-quiz-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center align table data */
}

.edit-quiz-table th {
    background-color: #007bff;
}



/* Style for icons in table */
.edit-quiz-table td .icon {
    cursor: pointer;
    
}

/* Align edit icon to the left */