/* UpdateQuestionForm.css */

/* Modal container */
.update-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Modal content */
.update-form-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 80%;
    max-width: 800px;
    max-height: 80vh; /* Limit maximum height to viewport height */
    overflow-y: auto;
    color: #333; /* Text color */
}

/* Modal title */
.update-form-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Modal body */
.update-form-body {
    color: #333;
    height: 100%;
}

/* Form label */
.update-form-label {
    display: block;
    margin-bottom: 5px;
    color: #0f0e0e; /* Text color */
}

/* Form input */
.update-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
/* Form select */
.update-form-select {
    width: 103%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


/* Form submit button */
.update-form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Close button */
.update-form-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #100f0f;
    font-size: 1.2rem;
}
.modal-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black; /* Text color */
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    }
    .close-button {
        background: none ;
        border: none;
        cursor: pointer;
        color: #eeebfd;
        background-color: #007bff;
        }