/* UploadExcelController.css */
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  
    background-color: #242424; /* Background color from :root */
  }
  
  .instruction-box {
    background-color: #333;
    border-radius: 12   px;
    padding: 20px;
    margin-bottom: 20px;    
    width: 50%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
  }
  
  .instruction-heading {
    color: rgba(255, 255, 255, 0.87); /* Text color from :root */
    margin-bottom: 10px;
  }
  
  .instruction-list {
    color: rgba(255, 255, 255, 0.87); /* Text color from :root */
  }
  
  .file-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .upload-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto; /* Adjusted margin for better centering */
    display: block;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  