.review-panel {
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 5px;
  }
  
  .review-item {
    background-color: #ccc;
    color: #000;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .review-item.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .review-item.answered {
    background-color: #28a745;
    color: #fff;
  }
  
  .review-item.unanswered {
    background-color: #dc3545;
    color: #fff;
  }
  
  .review-item.review {
    background-color: #ffc107;
    color: #000;
  }
  
  .mark-as-review-button {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: -25px; /* Adjust the vertical position */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
  }
  
  .mark-as-review-button:hover {
    background-color: #e0a800;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    }
  
    .review-item {
      font-size: 14px;
    }
  }