/* Navbar.css */

#admin-navbar {
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 90vw;
  margin: auto;
  z-index: 10;
  border-bottom: 1px solid #69696d;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}

@media (max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}

@media (max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

.logo {
  float: left;
  margin-left: 28px;
  height: 30px;
  letter-spacing: 1px;
  color: #ffffffde; /* Secondary color for text */
}

@media (max-width: 768px) {
  .logo {
    margin-left: 10px; /* Adjusted margin for smaller screens */
    float: none; /* Remove float for smaller screens */
  }
}

#navLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 15px;
  gap: 20px;
  transition: transform 0.5s ease-out;
}

@media (max-width: 768px) {
  #navLinks {
    justify-content: center; /* Center align links for smaller screens */
    margin-right: 0;
  }
}

#navLinks a {
  color: #ffffffde; /* Secondary color for text */
  display: inline-block;
  font-size: 14px;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  #navLinks a {
    margin: 0 10px; /* Adjusted margin for smaller screens */
  }
}

@media (max-width: 480px) {
  #navLinks a {
    font-size: 12px; /* Decrease font size for even smaller screens */
  }
}

#navLinks a:hover {
  color: #8b8b8b; /* Updated color on hover */
  transition: all 1s ease;
}

/* Animated Bottom Line */
#navLinks a:before,
#navLinks a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: #222222; /* Updated color for bottom line */
}

#navLinks a:before {
  left: 0;
  transition: 0.5s;
}

#navLinks a:after {
  background: #222222; /* Updated color for bottom line */
  right: 0;
}

#navLinks a:hover:before {
  background: #222222; /* Updated color for bottom line */
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#navLinks a:hover:after {
  background: transparent;
  width: 100%;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.5s ease; /* Added transition for hamburger menu */
}

.profile-container {
  display: inline-flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown-item {
  color: #ffffffde;
  display: inline-block;
  font-size: 14px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.dropdown-item:hover {
  background-color: #333;
}

.dropdown-content {
  position: absolute;
  background-color: #242424;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  margin: auto;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(
    5px
  ); /* Apply blur effect to content behind the modal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  position: relative; /* Ensure relative positioning for absolute positioning of close button */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888; /* Adjust color to grey */
  transition: color 0.3s ease; /* Smooth color transition */
}

.modal-close:hover {
  color: #333; /* Darken color on hover */
}

.modal-content h2 {
  color: #333; /* Adjust color to a darker grey */
  margin-bottom: 20px; /* Add space below heading */
}

.modal-content input[type="password"],
.modal-content input[type="text"] {
  width: calc(100% - 20px); /* Make input full width with padding */
  padding: 10px;
  margin-bottom: 20px; /* Add space below input */
  border: 1px solid #ddd; /* Add subtle border */
  border-radius: 5px; /* Add border radius */
  transition: border-color 0.3s ease; /* Smooth border color transition */
}

.modal-content input[type="password"]:focus,
.modal-content input[type="text"]:focus {
  border-color: #007bff; /* Change border color on focus */
}

.modal-content button {
  background-color: #007bff; /* Primary color for button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.modal-content button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.modal-content .error {
  color: #ff0000;
  margin-bottom: 20px; /* Add space below error message */
}

.avatar-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.file-inputs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-labels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-labels:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

button.btn {
  background-color: #007bff; /* Primary color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn:hover {
  background-color: #0056b3;
}

.upload-btn {
  display: block;
  width: 20%;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .avatar-container {
    width: 100px;
    height: 100px;
  }
}
